{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

 {% block body_block %}
    <h1>Rango says...</h1>

    <div><a href="{% url 'rango:add_category' %}">Add a New Category</a><br /></div>

    <div>
        {% if categories_like %}
            <h2>Most Liked Categories</h2>
            <ul>
                {% for category in categories_like %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        {% if category_view %}
            <h2>Most Liked Categories</h2>
            <ul>
                {% for category in category_view %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'rango:about' %}">About</a><br />
        <img src="{% static 'images/image_rango.jpg' %}"
            alt="Picture of Rango" /> <!-- New line -->
    </div>
 {% endblock %}